#challengeManContainer{
    width: 100%;
}
#challengeManagementTitle{
    text-decoration: underline;
}
#outer-management-challenge-div{
        width: 80%;
        margin-left:auto;
        margin-right:auto;  
        padding-bottom: 30%;
        margin-top: 2%; 
        
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}

#managementchallengechallengeNameTitle{
    border: 1px solid black;
	display: table-cell;
    padding: 1%;
    text-align: center;
}
#managementchallengechallengeDescriptionTitle{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementchallengechallengeLinkTitle{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementchallengechallengeMainFileTitle{
    border: 1px solid black;
	display: table-cell; 
    text-align: center;
}
#managementchallengechallengeSolutionTitle{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}
#managementchallengechallengeClassificationTitle{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}

#managementchallengechallengeDifficultyTitle{
    border: 1px solid black;
    display: table-cell; 
    text-align: center;
}


#managementchallengechallengeNameValue{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
    padding-right: 5%;
}
#managementchallengechallengeDescriptionValue{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementchallengechallengeLinkValue{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementchallengechallengeMainFileValue{
    border: 1px solid black;
	display: table-cell; 
    text-align: center;
}
#managementchallengechallengeSolutionValue{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}
#managementchallengechallengeClassificationValue{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}

#managementchallengechallengeDifficultyValue{
    border: 1px solid black;
    display: table-cell; 
    text-align: center;
}


#managementchallengeButtonsTitleDiv{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}

#managementchallengeButtonsDiv{
    border: 1px solid black;
    display: table-cell; 
    text-align: center;
}

#managementchallengeDeleteButtonDiv{
    margin-bottom: 3%;
}

#managementChallDeleteButton{
    border: 2px solid black;
    border-radius: 2px;
    background-color:#4CAF50; 
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;    
}

#managementChallengeAddchallenge{
    width: 20%;
    padding-bottom: 2%;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    background-color:#4CAF50; 
    border-radius: 3px;
    padding-top: 2%;
    margin-top: 2%;
    cursor: pointer;
}
