#competitionBox{
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    border: 1px black solid;
    margin: 5px;
    float: left;
    box-shadow: 5px 5px 2px grey;
    border-radius: 3%;
}

#competitionName{
text-align: center; 
text-decoration:  underline;
}

#competitionParticipants{
    text-align: center;
}
#competitionDates{
    text-align: center;
}
#competitionStatus{
    text-align: center;
}

#buttonDiv{
    text-align: center;
}

#registerButton{
    outline: 0;
    background: #4CAF50;
    width: 25%;
    border: 0;
    color: #FFFFFF;
    padding: 5px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
}

#enterButton{
    outline: 0;
    background: #4CAF50;
    width: 25%;
    border: 0;
    color: #FFFFFF;
    padding: 5px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
}
#enterLeaderboard{
    outline: 0;
    background: blue;
    width: 40%;
    border: 0;
    color: #FFFFFF;
    padding: 5px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
}
