#leaderboard-div{
	display: table;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    
    
}
.divTableRow {
	display: table-row;
}
#divPartPlace, #divPartName, #divPartScore, #divPartTime, #divParticipantPlace, #divParticipantName, #divParticipantScore, #divParticipantTime{
	border: 1px solid black;
	display: table-cell;
    padding: 3px 10px;
    text-align: center;
    
}
.divTableHeader{
	border: 1px solid black;
	display: table-cell;
    padding: 3px 10px;
    text-align: center;
}

#table-div {
    display: table-row-group;
    box-shadow: 10px 10px 5px grey;

}
#divCompetitionName{
margin-left: auto;
margin-right: auto;
}
