#competitionManContainer{
    width: 100%;
}
#competitionManagementTitle{
    text-decoration: underline;
}
#outer-management-competition-div{
        width: 80%;
        margin-left:auto;
        margin-right:auto;  
        padding-bottom: 30%;
        margin-top: 2%; 
        
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid black;
	display: table-cell;
	padding: 3px 10px;
}
.divTableBody {
    display: table-row-group;
}

#managementCompetitionCompetitionNameTitle{
    border: 1px solid black;
	display: table-cell;
    padding: 1%;
    text-align: center;
}
#managementCompetitionCompetitionStatusTitle{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementCompetitionCompetitionStartDateTitle{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementCompetitionCompetitionEndDateTitle{
    border: 1px solid black;
	display: table-cell; 
    text-align: center;
}
#managementCompetitionCompetitionMaxScoreTitle{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}
#managementCompetitionCompetitionMaxParticipantsTitle{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}

#managementCompetitionCompetitionTotalParticipantsTitle{
    border: 1px solid black;
    display: table-cell; 
    text-align: center;
}


#managementCompetitionCompetitionNameValue{
    border: 1px solid black;
	display: table-cell;
    padding: 1%;
    text-align: center;
}
#managementCompetitionCompetitionStatusValue{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementCompetitionCompetitionStartDateValue{
    border: 1px solid black;
	display: table-cell;
    text-align: center;
}
#managementCompetitionCompetitionEndDateValue{
    border: 1px solid black;
	display: table-cell; 
    text-align: center;
}
#managementCompetitionCompetitionMaxScoreValue{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}
#managementCompetitionCompetitionMaxParticipantsValue{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}

#managementCompetitionCompetitionTotalParticipantsValue{
    border: 1px solid black;
    display: table-cell; 
    text-align: center;
}


#managementCompetitionButtonsTitleDiv{
    border: 1px solid black;
    display: table-cell;
    text-align: center;
}

#managementCompetitionButtonsDiv{
    border: 1px solid black;
    display: table-cell; 
    text-align: center;
}

#managementCompetitionEndDateButtonDiv{
    margin-bottom: 3%;
}
#managementCompetitionMaxParticipantsButtonDiv{
    margin-bottom: 3%;
}
#managementCompetitionStatusButtonDiv{
    margin-bottom: 3%;
}

#managementCompeEndDateButton{
    border: 2px solid black;
    border-radius: 2px;
    background-color:#4CAF50; 
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;    
}
#managementCompMaxParticipantsButton{
    border: 2px solid black;
    border-radius: 2px;
    background-color:cadetblue; 
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px; 
}
#managementCompStatusButton{
    border: 2px solid black;
    border-radius: 2px;
    background-color:royalblue; 
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px; 
}
#managementCompChallengesButton{
    border: 2px solid black;
    border-radius: 2px;
    background-color:rosybrown; 
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px; 
}

#managementCompAddCompetition{
    width: 20%;
    padding-bottom: 2%;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    background-color:#4CAF50; 
    border-radius: 3px;
    padding-top: 2%;
    margin-top: 2%;
    cursor: pointer;
}
