ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'HelveticaNeueW01-Thin';
    text-transform: uppercase;
    
}
li a:hover {
    background-color: #111;
    text-decoration:none;
    color: #fff;
}
.navUsername{
    color: #fff;
    display: block;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
    text-transform: uppercase;

}